#upload-form {
    background: #c9ffc9;
    margin:;
}

#upload-form form {
	margin: 0;
	padding: 5px;
}

table {
	width: 100%;
}

td {
	width: 20%;
}

table:nth-child(2n) {
    background: #f1eef7;
}