
table {
	width: 100%;
	margin: 10px 0;
	table-layout: fixed;
	font-family: monospace;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
}

td.filename, td.ownername, td.groupname, td.mimetype, td.size {
	background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 3px;
}

/*table.header {
	width: 10%;
	text-align: right;
	background: initial;
}*/

/*.owner.mode, .group.mode, .world.mode {
	background: black;
	float: left;
    text-align: center;
}*/

td.ur,
td.uw,
td.ux,
td.gr,
td.gw,
td.gx,
td.or,
td.ow,
td.ox {
	color: black;
    height: 10px;
    width: 10px;
    line-height: 0.6;
    text-align: center;
    background: black;
}

td.relevant {
	color: grey;
}

td.highlight {
	color: white;
}


