body {
	background: #c9ffc9;
}

#upload-form {
    background: #c9ffc9;
}

#upload-form table {
	width: initial;
}

#upload-form form {
	margin: 0;
	padding: 5px;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

table.file, table.header {
	width: 100%;
	margin: 10px 0;
	table-layout: fixed;
	font-family: monospace;
}

table.file td {
	background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.header td.permission-header {
	width: 10%;
	text-align: right;
	background: initial;
}

.owner.mode, .group.mode, .world.mode {
	background: black;
	float: left;
    text-align: center;
}

.read, .write, .execute {
	visibility: hidden;
	color: white;
    height: 10px;
    width: 10px;
    line-height: 0.6;
    text-align: center;
}

.r-- .read,
.rw- .read,
.r-x .read,
.rwx .read {
	visibility: visible;
}

.-w- .write,
.-wx .write,
.rw- .write,
.rwx .write {
	visibility: visible;
}

.--x .execute,
.-wx .execute,
.rwx .execute,
.r-x .execute {
	visibility: visible;
}
